$DarkMode-color-white:'white';
$DarkMode-color-black:rgb(31, 46, 61);

$boxshadow-dark-false :rgba(0, 0, 0, 0.08) 0px 2.5px 1px;
$boxshadow-dark-true :rgba(0, 0, 0, 0.08) ;
$Navli-color-whtie:rgb(228,228,228);
$Navli-color-black:rgb(31, 46, 61);

$MdxTag-background-color-white : rgb(228, 230, 232);
$MdxTag-background-color-black : rgb(27, 41, 55);
 