.span{

    color: rgb(200 , 200, 200);
    
}

.containerScroll{
    max-height: 700px;
}

.messageContainer{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    max-height: 500px;
    height: 100dvh;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.messageContainer::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
.messageContainer::-webkit-scrollbar-track { 
    background-color: var(--color-navil-color);;
}
.messageContainer::-webkit-scrollbar-thumb { 
    background-color: rgb(33, 150, 243);;
}
.messageContainer::-webkit-scrollbar-button {
    display: none;
}

/* hover 효과 */
.messageContainer::-webkit-scrollbar-thumb:hover {
    // background-color: blue;
    transition: all 0.2s; /* 작동 안 됨 */
}

/* 코너에 라운드 효과 */
.messageContainer::-webkit-scrollbar-track,
.messageContainer::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.messageBlock {
    display: flex;


    span {
        display: flex;
        font-size: 14px;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 5px;

    }

    div{
        padding: 15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        justify-content: flex-end;
        background-color: aqua;
        font-size: 20px;
    }
}
.form {
    margin-top: 20px;
    width: 100%;
    height: 130px;
    background-color: rgba(245, 245, 244, 0.4);
    border-radius: 20px;
    
    
}
.formData{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formMain{
    display: flex;
    gap: 10px;
    justify-content: center;
    input {
        flex-grow: 1;
        padding: 15px;
        border-radius: 10px;
        list-style: none;
        border-style: none;
        background-color: rgb(226, 201, 201);
        
    }

    button {
        flex-grow: 0;
        border: none;
        padding: 8px;
        border-radius: 10px;
        background-color: rgb(241, 245, 249);
        border:1px solid rgb(226, 201, 201);
        cursor: pointer;
        color: var(--color-paragraph);
        min-width: 55px;
        font-size: 18px;
    }
}

.colorMain{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    button {
        width: 44px;
        height: 33px;
        border-style: none;
        border-radius: 10px;
        cursor: pointer;
    }
}


@media all and (max-width : 630px) {
    .form {
    }   
   
}