
.markdown {
    color: var(--color-text);
    a {
        color: red;
        text-decoration: none;
    }
}

.container{
   height: inherit;
   margin: 0 auto;
   padding: 1rem;
}

.postWrapper {
    
    width: 100%;
    height: 100%;
    // background-color: red;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // padding: 1rem;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex:1;

    .text {
        
        display: flex;
        flex-direction: column;
        gap: 5px;
        // background-color: white;
        flex: 1;
    }
    .img {
        // background-color: black;
    }
    time {
        font-size: 0.7rem;
        font-family: Pretendard-Medium;
    word-break: keep-all;
    letter-spacing: -0.4px;
    }
    h3{
        font-size: 1rem;
    word-break: keep-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    img{
        // border: 1px solid gold;
    }
    p{
        font-size: 0.9rem;
        word-break: keep-all;
        line-height: 1.6;
        min-height: 55px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}


.title{
    
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: var(--color-signiture-color);
}


@media all and (max-width : 630px) {
    .content {
        flex-direction: column-reverse;

        img {
            width: 100%;
            height: 150px;
        }
    }   
   
}